* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: black;
  color: white;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to bottom, black, transparent);
  z-index: 10;
}

.logo {
  color: blue;
  font-size: 24px;
  font-weight: bold;
}

.navbar input {
  padding: 5px 10px;
  background: #111;
  border: none;
  color: white;
}

/* HERO */
.hero {
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  padding: 40px;
}

.hero-content {
  max-width: 500px;
}

.hero button {
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

/* ROW */
.row {
  padding: 20px;
}

.movies {
  display: flex;
  gap: 15px;
  overflow-x: auto;
}

.movies img {
  width: 180px;
  cursor: pointer;
  transition: 0.3s;
}

.movies img:hover {
  transform: scale(1.1);
}

/* PLAYER */
.player {
  display: none;
  position: fixed;
  inset: 0;
  background: black;
  z-index: 100;
}

.player video {
  width: 100%;
  height: 100%;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  cursor: pointer;
}
/* CATEGORIES */
.categories {
  padding: 20px;
  display: flex;
  gap: 10px;
}

.categories button {
  padding: 6px 14px;
  background: #111;
  border: 1px solid #333;
  color: white;
  cursor: pointer;
}

.categories button:hover {
  background: red;
}

